#menu-toggle {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
}

#menu-label {
    display: flex;
    align-items: center;
    margin: var(--margin);
}

.burger-toggle {
    position: relative;
}

.burger-toggle::after, .burger-toggle::before {
    content: '';
    position: absolute;
}

.burger-toggle, .burger-toggle::after, .burger-toggle::before {
    transform-origin: center;
    width: 32px;
	height: 4px;
	border-radius: 2px;
    background: #5e257b;
    background-attachment: fixed;
	box-shadow: 2px 2px 5px #00000060;
    transition: 0.2s;
}

.burger-toggle::before {
    transform: translateY(-10px);
}

.burger-toggle::after {
    transform: translateY(10px);
}

#menu-toggle:checked + .burger-toggle {
    transform: rotate(45deg);
} 

#menu-toggle:checked + .burger-toggle::before {
    transform: translate(50%, -10px) rotate(-90deg);
    width: 16px;
    border-radius: 0 2px 2px 0;
}

#menu-toggle:checked + .burger-toggle::after {
    transform: translate(50%, 10px) rotate(-90deg);
    width: 16px;
    border-radius: 2px 0 0 2px;
}


