@media print {
    header {
        display: none !important;
    }
    footer {
        display: none !important;
    }
    main {
        margin: 0 !important;
    }
    html {
        background: white !important;
    }
  }