---
---

<ul class="mediasNav">
    <li>
        <a
            href="https://www.facebook.com/people/Trente-Neuf-Degr%C3%A9s/100089666921242/"
            target="_blank"
        >
            <i title="Nous joindre sur Facebook" class="fab fa-facebook"></i>
        </a>
    </li>
    <!-- <li>
        <a href="https://twitter.com" target="_blank">
            <i title="Nous suivre sur Twitter" class="fab fa-twitter"></i>
        </a>
    </li> -->
    <li>
        <a href="https://t.me/trenteneufdegres" target="_blank">
            <i title="Rejoindre notre canal telegram" class="fab fa-telegram"
            ></i>
        </a>
    </li>
    <li>
        <a href="/rss.xml" target="_blank">
            <i title="Flux RSS" class="fas fa-rss-square"></i>
        </a>
    </li>
</ul>

<style>
    .mediasNav {
        padding-left: 15px;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        font-size: 1.2rem;
    }

    .mediasNav li {
        margin-right: 8px;
    }

    a {
        color: var(--color-purple);
    }

    .fa-facebook:hover,
    .fa-facebook:active {
        transition: 0.2s;
        color: #3b5998;
    }
    .fa-twitter:hover,
    .fa-twitter:active {
        transition: 0.2s;
        color: #00acee;
    }
    .fa-rss-square:hover {
        transition: 0.2s;
        color: #ee802f;
    }
    .fa-telegram:hover {
        transition: 0.2s;
        color: #0088cc;
    }
</style>
